.navbar {
    overflow: hidden;
    background-color: rgb(139, 235, 214);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #c4460c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .main {
    margin-top: 150px; /* Add a top margin to avoid content overlay */
  }