.img1{
    padding-right: 20px;
    height: 65px;
    margin-top: 5px;
}
.imagem{
    height: 75px;
}
.autoestima{
    text-align: center;
}
.estima{
    width: 700px;
}
.coluna{
    font-size: 18px;
}
.tenis{
    padding-left: 500px;
    width: 500px;

}
.SEC-TENIS{
    text-align: center;
}